/**
 * @FileName: form[组件]
 * 
 * @Author: wenq
 *
 * @Explain: 表单样式
 */

/* @less import
------------------------------------------------------------------------------------------ */
@import "../_effect/transition";
@import "../_mixin/dib";
@import "../_mixin/usn";
@import "../_mixin/clearfix";

/* @can delete
------------------------------------------------------------------------------------------ */
body{
	margin: 10px;
}

h1{
	font-size: 20px;
	font-family: "微软雅黑";
	margin: 10px 0;
}

input,
select,
textarea{
	outline: none;
}

/* @global variable
------------------------------------------------------------------------------------------ */
// 控制label宽度
@item_label_width: 55px;

// 控件宽高
@g-Wt: 150px;
@g-Ht: 25px;

// 间距控制
@margin-all: ;
@margin-top: ;
@margin-right: ;
@margin-bottom: ;
@margin-left: ;

// color blue
@color1: #0078e7;
@color2: #006bce;

// color green
@btn-color: #8acb49;

/* @form elements
------------------------------------------------------------------------------------------ */

/* @form
------------------------------------------------------------------------------------------ */
form{
	.usn();
}

// 所有子元素之间的中线对齐
.all-align{

	*{
		vertical-align: middle;
	}
}

// 单个元素之间的中线对齐
.single-align{
	vertical-align: middle;
}

// 锚点颜色
.link{
	color: #006bce;
}

// 单元之间的间距
.unit{
	margin-bottom: 10px;
}

// label
.label-flot{
	width: @item_label_width;
	text-align: right;
	float: left;
	line-height: @g-Ht;;
}

.label-inline{
	.dib();
	width: @item_label_width;
	text-align: right;
	height: @g-Ht;
	line-height: @g-Ht;;
	background-color: #f00;
}

.label-field-rc{
	float: left;
	cursor: pointer;

	input,
	span{
		float: left;
		_display: inline;
	}

	.u-checkbox{
		margin-top: 2.5px;
		margin-right: 3px;
	}

	span{
		margin-right: 10px;
	}
}

/* @form 控件
------------------------------------------------------------------------------------------ */

/* ------ u-input[元件：文本框] ------ */ 
.u-input{
	width: @g-Wt;
	height: (@g-Ht - 10);
	line-height: (@g-Ht - 10);
	padding: 4px;
	border: 1px solid #ccc;
	outline: none;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	.transition(box-shadow,0.3s,linear);
	
	/*按需添加*/
	/**/
	&:hover,
	&:focus{
		.transition(all,0.5s,linear);
		border-color: rgba(82, 168, 236, 0.8);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
	}
	
	
}

/* ------ u-f-btn[元件：按钮] ------ */ 
.u-f-btn{
	height: @g-Ht;
	line-height: @g-Ht;
	border: 0;
	padding-left: 16px;
	padding-right: 16px;
	background-color: @color1;
	color: #fff;
	cursor: pointer;
	.transition(background-color,0.5s,linear);
	
	/**/
	&:hover{
		background-color: @color2;
	}
	
}

/* ------ u-checkbox[元件：复选框] ------ */ 
.u-checkbox{
	.dib();
	width: 13px;
	height: 13px;
}

/* ------ file[模块：文件上传] ------ */ 
.m-file{
	.dib();
	padding: 0px;
	width: 70px;
	height: @g-Ht;
	background-color: @color1;
	position: relative;
	overflow: hidden;

	.file-text{
		display: block;
		line-height: @g-Ht;
		cursor: pointer;
		color: #fff;
		text-align: center;
	}

	.file{
		opacity: 0;
		filter: alpha(opacity=0);
		width: 70px;
		height: @g-Ht;
		left: 0;
		top: 0;
		display: block;
		cursor: pointer;
		position: absolute;
		z-index: 1;
	}
}

/* ------ textarea[模块：文本域] ------ */
@textArea-Wt: 255px;
.m-textarea{
	
	.label{
		display: inline-block;
		vertical-align: top;
	}

	textarea{
		width: @textArea-Wt;
		border: 1px solid #ccc;
		.transition(box-shadow,0.3s,linear);
		resize: none;
		padding: 3px;
		
		/*按需添加*/
		&:hover,
		&:focus{
			.transition(all,0.5s,linear);
			border-color: rgba(82, 168, 236, 0.8);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
		}
		
	}
}

/* ------ radio[元件：单选框] ------ */ 
.u-radio{
	.dib();
	width: 13px;
	height: 13px;
}