/**
 * @FileName: form[组件]
 * 
 * @Author: wenq
 *
 * @Explain: 表单样式
 */

/* @can delete
------------------------------------------------------------------------------------------ */
body{
	margin: 10px;
}

h1{
	font-size: 20px;
	font-family: "微软雅黑";
	margin: 10px 0;
}

/* @less import
------------------------------------------------------------------------------------------ */
@import "../_effect/transition";
@import "../_mixin/dib";
@import "../_mixin/usn";
@import "../_mixin/clearfix";


/* @global variable
------------------------------------------------------------------------------------------ */
// 控制label宽度
@item_label_width: 55px;

// 间距控制
@margin-top: ;
@margin-right: ;
@margin-bottom: ;
@margin-left: ;

// color blue
@color1: #0078e7;
@color2: #006bce;

/* @form elements
------------------------------------------------------------------------------------------ */

/* ------ form ------ */ 
form{
	.usn();

	input,
	textarea{
		outline: none;
	}
}

.radius{
	border-radius: 3px;
}

.all-align{

	*{
		vertical-align: middle;
	}
}

.single-align{
	vertical-align: middle;
}

.link{
	color: #006bce;
}


/* ------ item ------ */ 
.unit{
	margin-bottom: 10px;
}

/* ------ label ------*/
.label-flot{
	width: @item_label_width;
	text-align: right;
	float: left;
	line-height: 28px;
}

.label-inline{
	.dib();
	width: @item_label_width;
	text-align: right;
	height: 28px;
	line-height: 28px;
	background-color: #f00;
}

/* ------ input[元件：文本框] ------ */ 
.u-input{
	width: 180px;
	height: 18px;
	line-height: 18px;
	padding: 4px;
	border: 1px solid #ccc;
	outline: none;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	.transition(box-shadow,0.3s,linear);

	&:hover,
	&:focus{
		.transition(all,0.5s,linear);
		border-color: rgba(82, 168, 236, 0.8);
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
	}
}

/* ------ u-btn[元件：按钮] ------ */ 
.u-btn{
	height: 28px;
	line-height: 28px;
	border: 0;
	padding-left: 16px;
	padding-right: 16px;
	background-color: @color1;
	color: #fff;
	.transition(background-color,0.5s,linear);

	&:hover{
		background-color: @color2;
		cursor: pointer;
	}
}

/* ------ u-checkbox[元件：复选框] ------ */ 
.u-checkbox{
	.dib();
	width: 13px;
	height: 13px;
}

.label-field-rc{
	float: left;
	cursor: pointer;

	input,
	span{
		float: left;
		_display: inline;
	}

	.u-checkbox{
		margin-top: 2.5px;
		margin-right: 3px;
	}

	span{
		margin-right: 10px;
	}
}

/* ------ input: file 文件上传 ------ */ 
.m-file{
	.dib();
	padding: 0px;
	width: 70px;
	height: 28px;
	background-color: #0078e7;
	position: relative;
	overflow: hidden;

	.file-text{
		display: block;
		line-height: 28px;
		cursor: pointer;
		color: #fff;
		text-align: center;
	}

	.file{
		opacity: 0;
		filter: alpha(opacity=0);
		width: 70px;
		height: 28px;
		left: 0;
		top: 0;
		display: block;
		cursor: pointer;
		position: absolute;
		z-index: 1;
	}
}

/* ------ textarea: 文本域 ------ */ 
.m-textarea{
	
	.label{
		display: inline-block;
		vertical-align: top;
	}

	textarea{
		border: 1px solid #ccc;
		.transition(box-shadow,0.3s,linear);
		resize: none;
		padding: 3px;

		&:hover,
		&:focus{
			.transition(all,0.5s,linear);
			border-color: rgba(82, 168, 236, 0.8);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);
		}
	}
}

/* ------ radio ------ */ 
.u-radio{
	.dib();
	width: 13px;
	height: 13px;
}