/**
 * @FileName: reset
 * 
 * @Author: wenq
 *
 * @Explain: reset重置文件[不包括HTML5元素重置]
 */
/* @less文件导入
------------------------------------------------------------------------------ */
/**
 * @FileName: variable
 * 
 * @Author: wenq
 *
 * @Explain: 常用变量
 */
/* ------ 字体变量 ------ */
/* 宋体 */
/* 微软雅黑 */
/* 手机端字体 */
/* @reset
------------------------------------------------------------------------------ */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font: 12px/1.5 '\5B8B\4F53', Tahoma, Helvetica, Arial;
  color: #333;
  background-color: #fff;
}
/* ------ Form elements reset ------ */
button,
input,
select,
textarea {
  font-size: 100%;
}
input,
button {
  overflow: visible;
}
textarea {
  overflow: auto;
  color: inherit;
  font: inherit;
}
input::-ms-clear {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th,
table td {
  padding: 0;
}
li {
  list-style: none;
}
iframe {
  border: 0;
  vertical-align: top;
}
img {
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
/**
 * @FileName: form[组件]
 * 
 * @Author: wenq
 *
 * @Explain: 表单样式
 */
/* @can delete
------------------------------------------------------------------------------------------ */
body {
  margin: 10px;
}
h1 {
  font-size: 20px;
  font-family: "微软雅黑";
  margin: 10px 0;
}
/* @less import
------------------------------------------------------------------------------------------ */
/**
 * @FileName: transition
 * 
 * @Author: wenq
 *
 * @Explain: 交互效果样式
 */
/* ------ 过渡属性封装 ------ */
/* ------ /过渡属性封装 ------ */
/**
 * @FileName: dib
 * 
 * @Author: wenq
 *
 * @Explain: display:inline-block[行内块化元素]
 */
/* @dib
 ------------------------------------------------------------------------------------------------ */
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * @FileName: usn
 * 
 * @Author: wenq
 *
 * @Explain: 禁止用户选择文本
 */
/* @usn
 ------------------------------------------------------------------------------------------------ */
.usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -m-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * @FileName: clearfix
 * 
 * @Author: wenq
 *
 * @Explain: 清楚浮动产生的影响
 */
/* @clearfix
 ------------------------------------------------------------------------------------------------ */
.clearfix {
  *zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/* @global variable
------------------------------------------------------------------------------------------ */
/* @form elements
------------------------------------------------------------------------------------------ */
form {
  -webkit-user-select: none;
  -moz-user-select: none;
  -m-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radius {
  border-radius: 3px;
}
.item {
  margin-bottom: 10px;
}
.note-float {
  width: 55px;
  text-align: right;
  float: left;
  line-height: 28px;
}
.note-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 55px;
  text-align: right;
  height: 28px;
  line-height: 28px;
  background-color: #f00;
}
.v-align-m {
  vertical-align: middle;
}
.u-input {
  width: 180px;
  height: 18px;
  line-height: 18px;
  padding: 4px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -o-transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
}
.u-input:focus {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
.u-btn {
  height: 28px;
  line-height: 28px;
  border: 0;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0078e7;
  color: #fff;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
.u-btn:hover {
  background-color: #006bce;
  cursor: pointer;
}
.u-checkbox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 13px;
  height: 13px;
}
.label-field-rc {
  float: left;
  cursor: pointer;
}
.label-field-rc input,
.label-field-rc span {
  float: left;
  _display: inline;
}
.label-field-rc .u-checkbox {
  margin-top: 2.5px;
  margin-right: 3px;
}
.label-field-rc span {
  margin-right: 10px;
}
.ml {
  margin-left: 60px;
}
.link {
  color: #006bce;
}
.form-file {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0px;
  width: 70px;
  height: 28px;
  background-color: #0078e7;
  position: relative;
  overflow: hidden;
}
.form-file .form-file-replace-text {
  display: block;
  line-height: 28px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
.form-file .form-file {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 70px;
  height: 28px;
  left: 0;
  top: 0;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
