/**
 * @FileName: reset
 * @Author: wenq
 * @Explain: 重置文件
 */
@import "../variable";

/* -----------------------基础重置 */
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section,summary {
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
	height: 0;
	width: 0;
}

[hidden] {
	display: none;
}

mark {
	background: #ff0;
	color: #333333;
}

figure {
	margin: 1em 40px 1em 40px;
}

body,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,code,
form,fieldset,legend,input,textarea,
p,blockquote{
	margin:0;
	padding:0;
}

button,
input,
select,
textarea{
	font-size:100%;
}

// 去除低版本ie下input,button的额外宽度
input,
button{
	overflow: visible; 
}

// 修改ie浏览器下textarea的默认overflow：scroll值,并使其继承父级字体和颜色
textarea{ 
	overflow: auto;
	color: inherit;
	font: inherit;
}

// 清除ie10文本框默认的清除按钮
input::-ms-clear {
	display: none;
}

table {
	border-collapse:collapse;
	border-spacing:0;

	th,
	td{
		padding: 0;
	}
}

li{
	list-style:none;
}

iframe{
	border:0;
	vertical-align: top;
}

img{
	border:0;
	vertical-align:middle;
}