/**
 * @FileName: button[按钮]
 * 
 * @Author: wenq
 *
 * @Explain: 按钮样式
 */
/* @import less
------------------------------------------------------------------------------------------ */
/**
 * @FileName: dib
 * 
 * @Author: wenq
 *
 * @Explain: display:inline-block[行内块化元素]
 */
/* @dib
 ------------------------------------------------------------------------------------------------ */
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * @FileName: usn
 * 
 * @Author: wenq
 *
 * @Explain: 禁止用户选择文本
 */
/* @usn
 ------------------------------------------------------------------------------------------------ */
.usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -m-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**
 * @FileName: 渐变封装
 * 
 * @Author: ken
 * 
 * @Explain: 线性渐变，只支持水平和垂直方向。滤镜在IE6、IE7中须配合width或者height属性方可生效
 */
/* @u-btn
------------------------------------------------------------------------------------------ */
/* ------------------ base button[默认按钮样式] ------------------ */
.u-btn-base {
  /* base configuration */
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  border-width: 1px ;
  border-style: solid;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -m-user-select: none;
  -ms-user-select: none;
  user-select: none;
  *zoom: 1;
}
a[class*="u-btn-base"]:hover {
  text-decoration: none;
}
input[type*="button"],
button[class*="u-btn-base"] {
  outline: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 20px;
}
/* ------------------ background[不同颜色按钮] ------------------ */
.gradient0 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #fefefe, #e3e3e3);
  background-image: -moz-linear-gradient(top, #fefefe, #e3e3e3);
  background-image: -o-linear-gradient(top, #fefefe, #e3e3e3);
  background-image: -ms-linear-gradient(top, #fefefe, #e3e3e3);
  background-image: linear-gradient(top, #fefefe, #e3e3e3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffefefe, endColorstr=#ffe3e3e3, GradientType=0);
  border-color: #ccc;
}
.gradient0:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#fefefe));
  background-image: -webkit-linear-gradient(top, #e3e3e3, #fefefe);
  background-image: -moz-linear-gradient(top, #e3e3e3, #fefefe);
  background-image: -o-linear-gradient(top, #e3e3e3, #fefefe);
  background-image: -ms-linear-gradient(top, #e3e3e3, #fefefe);
  background-image: linear-gradient(top, #e3e3e3, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe3e3e3, endColorstr=#fffefefe, GradientType=0);
}
.gradient1 {
  /* use configuration */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7daee8), to(#6493c9));
  background-image: -webkit-linear-gradient(top, #7daee8, #6493c9);
  background-image: -moz-linear-gradient(top, #7daee8, #6493c9);
  background-image: -o-linear-gradient(top, #7daee8, #6493c9);
  background-image: -ms-linear-gradient(top, #7daee8, #6493c9);
  background-image: linear-gradient(top, #7daee8, #6493c9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff7daee8, endColorstr=#ff6493c9, GradientType=0);
  border-color: #5a8ac0;
  color: #fff;
}
.gradient1:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6493c9), to(#7daee8));
  background-image: -webkit-linear-gradient(top, #6493c9, #7daee8);
  background-image: -moz-linear-gradient(top, #6493c9, #7daee8);
  background-image: -o-linear-gradient(top, #6493c9, #7daee8);
  background-image: -ms-linear-gradient(top, #6493c9, #7daee8);
  background-image: linear-gradient(top, #6493c9, #7daee8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6493c9, endColorstr=#ff7daee8, GradientType=0);
}
.gradient2 {
  /* use configuration */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e04e3b), to(#ce3e2b));
  background-image: -webkit-linear-gradient(top, #e04e3b, #ce3e2b);
  background-image: -moz-linear-gradient(top, #e04e3b, #ce3e2b);
  background-image: -o-linear-gradient(top, #e04e3b, #ce3e2b);
  background-image: -ms-linear-gradient(top, #e04e3b, #ce3e2b);
  background-image: linear-gradient(top, #e04e3b, #ce3e2b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe04e3b, endColorstr=#ffce3e2b, GradientType=0);
  border-color: #C13523;
  color: #fff;
}
.gradient2:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ce3e2b), to(#e04e3b));
  background-image: -webkit-linear-gradient(top, #ce3e2b, #e04e3b);
  background-image: -moz-linear-gradient(top, #ce3e2b, #e04e3b);
  background-image: -o-linear-gradient(top, #ce3e2b, #e04e3b);
  background-image: -ms-linear-gradient(top, #ce3e2b, #e04e3b);
  background-image: linear-gradient(top, #ce3e2b, #e04e3b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffce3e2b, endColorstr=#ffe04e3b, GradientType=0);
}
.gradient3 {
  /* use configuration */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#68c668), to(#50b150));
  background-image: -webkit-linear-gradient(top, #68c668, #50b150);
  background-image: -moz-linear-gradient(top, #68c668, #50b150);
  background-image: -o-linear-gradient(top, #68c668, #50b150);
  background-image: -ms-linear-gradient(top, #68c668, #50b150);
  background-image: linear-gradient(top, #68c668, #50b150);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff68c668, endColorstr=#ff50b150, GradientType=0);
  border-color: #52a552;
  color: #fff;
}
.gradient3:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50b150), to(#68c668));
  background-image: -webkit-linear-gradient(top, #50b150, #68c668);
  background-image: -moz-linear-gradient(top, #50b150, #68c668);
  background-image: -o-linear-gradient(top, #50b150, #68c668);
  background-image: -ms-linear-gradient(top, #50b150, #68c668);
  background-image: linear-gradient(top, #50b150, #68c668);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff50b150, endColorstr=#ff68c668, GradientType=0);
}
.gradient4 {
  /* use configuration */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbb149), to(#f8960a));
  background-image: -webkit-linear-gradient(top, #fbb149, #f8960a);
  background-image: -moz-linear-gradient(top, #fbb149, #f8960a);
  background-image: -o-linear-gradient(top, #fbb149, #f8960a);
  background-image: -ms-linear-gradient(top, #fbb149, #f8960a);
  background-image: linear-gradient(top, #fbb149, #f8960a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffbb149, endColorstr=#fff8960a, GradientType=0);
  border-color: #e1962d;
  color: #fff;
}
.gradient4:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8960a), to(#fbb149));
  background-image: -webkit-linear-gradient(top, #f8960a, #fbb149);
  background-image: -moz-linear-gradient(top, #f8960a, #fbb149);
  background-image: -o-linear-gradient(top, #f8960a, #fbb149);
  background-image: -ms-linear-gradient(top, #f8960a, #fbb149);
  background-image: linear-gradient(top, #f8960a, #fbb149);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff8960a, endColorstr=#fffbb149, GradientType=0);
}
.monochrome0,
.monochrome1,
.monochrome2,
.monochrome3,
.monochrome4 {
  color: #fff;
}
.monochrome0:hover,
.monochrome1:hover,
.monochrome2:hover,
.monochrome3:hover,
.monochrome4:hover {
  color: #fff !important;
}
.monochrome0 {
  background: #f2f2f2;
  border-color: #ccc;
  color: #333;
}
.monochrome0:hover {
  background: #dfdfdf;
}
.monochrome1 {
  background: #7daee8;
  border-color: #5a8ac0;
}
.monochrome1:hover {
  background: #6493c9;
}
.monochrome2 {
  background: #e04e3b;
  border-color: #c13523;
}
.monochrome2:hover {
  background: #ce3e2b;
}
.monochrome3 {
  background: #68c668;
  border-color: #52a552;
}
.monochrome3:hover {
  background: #50b150;
}
.monochrome4 {
  background: #fbb149;
  border-color: #e1962d;
}
.monochrome4:hover {
  background: #f8960a;
}
/* ------------------ icon button[ 带图标的按钮 ] ------------------ */
.u-btn-icon {
  font-size: 0;
}
.u-btn-icon i,
.u-btn-icon span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.u-btn-icon i {
  width: 16px;
  height: 16px;
  background-color: #f00;
}
.u-btn-icon span {
  font-size: 12px;
  padding-left: 5px;
}
.u-btn-icon-downlod i {
  background: url(../images/download.png) no-repeat left center;
}
/* ------------------ 类型按钮 ------------------ */
.btn-disable {
  color: #fff !important;
  cursor: default !important;
  border-color: #a3a3a3 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc)) !important;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -o-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: linear-gradient(top, #cccccc, #cccccc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcccccc, endColorstr=#ffcccccc, GradientType=0) !important;
}
.btn-disable:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#cccccc)) !important;
  background-image: -webkit-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -o-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: -ms-linear-gradient(top, #cccccc, #cccccc) !important;
  background-image: linear-gradient(top, #cccccc, #cccccc) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcccccc, endColorstr=#ffcccccc, GradientType=0) !important;
}
.u-btn-type-select {
  position: relative;
  padding-right: 20px;
}
.u-btn-type-select i {
  width: 0;
  height: 0px;
  border-width: 5px;
  border-style: solid;
  border-color: #a3a3a3 transparent transparent transparent;
  position: absolute;
  right: 5px;
  top: 12px;
}
